@use "colores" ;
@use "highlights" as *;
@use "navbar" as *;
@use "galeria";
@use "whats";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

.scroll-animate {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.scroll-animate.show {
    opacity: 1;
    transform: translateY(0);
}

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



h1, h2, h3, h4, h5 {
  font-weight: 800;
    font-style: bold;
    color: colores.$darkblue;
    font-family: 'Open Sans';
}
b, strong {
  font-weight: 600;
  font-style: bold;
   font-family: 'Open Sans';
}
p {
  font-weight: 500;
    font-style: medium;
     font-family: 'Open Sans';
}
span, li, a, small {
  font-weight: 300;
    font-style: light;
     font-family: 'Open Sans';
}

// btn

.btn-primary{
background-color: colores.$orange;
border: none;
padding: .4em 1.8em;
text-decoration: none;
border-radius: 1em;
color: colores.$white;
font-weight: 600;
transition: 1s ease;
border: 1px solid colores.$orange;

}
.btn-primary:hover {
  background-color: colores.$black;
  transition: .5s ease;
  border: 1px solid colores.$orange;
  transition: 1s ease;
}

.footer {
  background-color: colores.$darkblue;
  display: flex;
  min-height: 500px;

  padding-top: 3em;
  justify-content: center;
  align-items: center;
  color: colores.$white;


  .descripcion {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .bold{
      font-weight: 700;
    }
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    a{
      text-decoration: none;
      color: colores.$white;
    }
  }
  list-style: none;
}