@use "./global" as *;
@use "colores" ;

  .header::before {
        content: "";
        position: absolute;
        inset: 0;
        height: 700px;
        background: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.69));
        z-index: 2;
        }

       
.header {
    
    .header__video {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 700px;
        object-fit: cover;
        z-index: 0;
        pointer-events: none;
        overflow: hidden;
        }
    .titular {
        height: 650px;
        width: 100%;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        z-index: 3;
        .titular__contenido{
            width: 70%;
            text-align: center;
            z-index: 4;
            color: colores.$white;
            h1 {
                font-size: 4em;
                transition: .5s ease;
            }
            p {
                font-weight: 300;
            }
            .botones {
                a {
                    letter-spacing: 2px;
                }
            }
       }
    } @media (max-width: 991px) {
        .titular {
            
            .titular__contenido {
                width: 100%;
                h1 {
                font-size: 3em ;
                transition: .5s ease;
            }
        }
        }
    }@media (max-width: 767px) {
        .titular {
            
            .titular__contenido {
                width: 100%;
                h1 {
                font-size: 2.5em ;
                transition: .5s ease;
                }
                 p {
                font-weight: 300;
                font-size: 16px;
            }
            .botones {
                a {
                    letter-spacing: 2px;
                    font-size: 12px;
                }
            }
        }
        }
    }
} 

.nosotros {
    min-height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    .descripcion {
        font-weight: 300;

    }
.datosduros {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin-bottom: 2em;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    > * {
        flex: 0 0 auto;
    }
}
    video {
        display: flex;
        min-height: 200px;
        justify-content: center;
        align-items: center;
        width: 100%;   
        border-radius: 20px;
    }
} @media (max-width:991px) {
    .nosotros {
        min-height: 750px; 
        .nosotros__info {
            padding-top: 5em;
            text-align: center;
            order: 1;
        }
        .hillux {
            padding-top: 3em;

        }
       .datosduros {
            justify-content: center;
        }
        .btn__cta {
            text-align: center;
        }
    }
}


.valores {
     min-height: 400px;
     display: flex;
     flex-direction: column;

     justify-content: center;
     align-items: center;

    h2 {
        text-align: center;
    }

    .bullets {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
        gap: 30px;
        min-height: 300px;

        .bullet {
            text-align: center;
            width: 30%;
            height: auto;
            transition: .5s ease;
            h4 {
                padding-top: .5em;
            }
        }
    } @media (max-width: 991px) {
        .bullets {
            padding: 5em 0;
            flex-direction: column;
            gap: 30px;
            .bullet {
            width: 100%;
            transition: .5s ease;
        }
        }
        
    }
} @media (max-width: 991px) {
    .valores {
        h2 {
            margin-top: 1.7em;

            
        }
    }
}

.bg-top {
    position: relative;
    z-index: 1;
    .bg-tiger {
        position: absolute;
        z-index: -5;
        left: -300px;
    
    } @media (max-width:991px) {
        .bg-tiger {
            top: -120px;
        }
    }
    
}

.servicios {
    min-height: 550px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    z-index: 4;
   
    .oferta {
        color: colores.$orange;
        font-weight: 600;
        letter-spacing: 2px;
    }
} @media (max-width: 991px) {
     .hillux {
        padding: 2em 0;
    }
    .servicios__info {
        text-align: center;
        padding: 2em 0;
        overflow-x: hidden;
    }
}


.galeria {
    display: flex;
    flex-direction: row;
    min-height: 450px;

    justify-content: center;
    width: 100%;
    align-items: center;
    overflow-x: hidden;

    gap: 20px;
    z-index: 4;
}

.valor-agregado {
    min-height: 400px;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    ul {
        list-style-type: none;
        li {
            padding-bottom: 20px;
        }
    }
} @media (max-width:991px) {
    .valor-agregado {
        min-height: 450px;
        margin-top: 2em;
        .valor__lista {
        padding-top: 1.5em;
        margin-bottom: 2em;
        }
    }
    
}

.cobertura {
    min-height: 350px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .titular {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        text-align: center;
        h3, p {
            width: 45%;
        } @media (max-width:991px) {
            h3, p {
                width: 100%;
            }
        }
    }
    .bullets {
        .contenedor {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
        } @media (max-width: 700px) {
            .contenedor {
                display: inline-table;
                overflow-x: hidden;
                width: 100%;
            }
        }
    }

}

.mapa {
    .mapa__contenido {
        position: relative;
        text-align: center;


       padding: 3em 0 ;
        .mapa__contenido__info {
            text-align: left;
            width: 40%;

            position: absolute;
            top: 40px;
            right: 20px;
        } 
    }
} @media (max-width: 991px) {
    .mapa {
        height: 800px;
        width: 100%;
    }
}
.form{ 
    position: relative;
    display: flex;
    min-height: 850px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    overflow: hidden !important;
    
    .titular {
        display: flex;
        flex-direction: column;

        min-height: 300px;
        justify-content: center;
        align-items:center ;
        text-align: center;
        h4, p {
            width: 50%;
        } @media (max-width:991px) {
            h4, p {
                width: 100%;
            }
        }
        h4 {
            font-size: 2.8em;
            color: colores.$orange;
        }
    }
    .formulario {
        min-height: 300px;
        width: 100%;
        
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;

        
        .form_contenido {
            color: colores.$darkblue;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            z-index: 1;
            text-align: left;
           
        }@media (max-width:991px) {
            .form_contenido{
                width: 100%;
            }
        }
    }
    .arrow {
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .bg-tiger-right {
        position: absolute;
        right: -200px;
        bottom: -80px;
        z-index: -100;
    }
}
